*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  letter-spacing: 0.02em;
}


body{
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: var(--color-navy-blue);
}

:root{
  --font-family-Raleway: Raleway;
  --font-family-Roboto: Roboto;
  --color-white: #fff;
  --color-iris: #4D5AE5;
  --color-ocean: #404BBF;
  --color-navy-blue: #2E2F42;
  --color-text: #434455;
  --color-cloud: #F4F4FD;
  --color-cornflower: #E7E9FC;
}

.button{
  cursor: pointer;
}

a{
  font-style: normal;
  color: inherit;
}

ul{
  list-style: none;
}

.container{
  max-width: 1158px;
  margin: 0 auto;
}

/* header */

.header{

  background-color: var(--color-white);
  border-bottom: 1px solid #E7E9FC;
  padding: 24px 0;

}


.link-logo{
  font-family: var(--font-family-Raleway);
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  padding: 24px 0;
}

.logo-blue{
  color: var(--color-iris);
  font-family: var(--font-family-Raleway);
  letter-spacing: 0.03em;
}

.link-spc{
  font-size: 16px;
  font-weight: 500;
}

.link-spc-item{
  color: var(--color-text);
  font-weight: 500;
  font-size: 16px;
}

.link-spc>.link-spc-item:not(:last-child){
  margin-right: 40px;

}

.link-spc-link:hover,
.link-spc-link:focus{
  color: var(--color-ocean);
}

.link-spc-link{
  padding: 24px 0;
}

.address-list-item{
  font-size: 16px;
}

.address-list-item:not(:last-child){
  margin-right: 40px;
}

.nav-mail-tel:hover,
.nav-mail-tel:focus{
  color: var(--color-ocean);
}

.nav-mail-tel{
  padding: 24px 0;
}


.section-main{
  background-color: var(--color-navy-blue);
  padding: 188px 0;
}

h1{
  color: var(--color-white);
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  width: 496px;
  margin-bottom: 48px;
}

.main-section-button{
  background-color: var(--color-iris);
  color: var(--color-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  
}

.main-section-button:hover,
.main-section-button:focus{
  background-color: var(--color-ocean);
}

.skills{
  padding: 120px 0;
}

.skill{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.skill-item{
  width: 264px;
}

.skill-text{
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--color-text);
}

.doings{
  padding-bottom: 120px;
}

.title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  margin-bottom: 72px;
}

.card-team-info{
  padding: 32px 16px;
}

.team{
  background-color: var(--color-cloud);
  padding: 120px 0;
}

.team-title{
  margin-bottom: 72px;
}

.team-name{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.team-prof{
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
}

.color-cloud{
  color: var(--color-cloud);
}

.footer-text{
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-cloud);
  width: 264px;
  margin-top: 16px;
}

.footer{
  background-color: var(--color-navy-blue);
  padding: 100px 0;
}


/* Портфолио */

.prtf-buttons>li:not(:last-child){
  margin-right: 24px;
}


.prtf-button-item{
  background-color: var(--color-cornflower);
  color: var(--color-iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #E7E9FC;
}

.prtf-button-item:hover,
.prtf-button-item:focus{
  background-color: var(--color-ocean);
  color: var(--color-white);
}

.title-card{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.text-card{
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
}

.project-card{
  border: 1px solid #E7E9FC;
}

.project-card:not(:nth-child(3n+3)){
  margin-right: 24px;
}

.project-card:nth-child(-n + 6){
  margin-bottom: 48px;
}

.project-card-text{
  padding: 32px 16px;
}